// colors 
$primary: #C2C8A4;
$primary-darker: #A1A77C;
$secondary: #824D1A;
$light: #ECE6DF;
$dark: #000000;

// fonts
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Sanchez", sans-serif;
$recipe-font: "Pontano Sans", sans-serif;

// background colors
$light-background-color: rgba(236, 230, 223, 0.9);
$light-background-color-40: rgba(236, 230, 223, 0.4);
$semi-transparent-white: rgba(255, 255, 255, 0.6);
$semi-transparent-white-40: rgba(255, 255, 255, 0.4);
