<!DOCTYPE html>
<nav class="navbar mx-4">
   <div class="container">
     <a class="navbar-brand" href="/sweet_cakes">SweetCakes</a>
     <button class="navbar-toggler d-block d-md-none m-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <i class="fa-solid fa-bars"></i>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes/src/pages/about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes/src/pages/recipes.html">Recipes</a></li>
       </ul>
     </div>
     <div class ="d-none d-md-block">
       <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes/src/pages/about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/sweet_cakes/src/pages/recipes.html">Recipes</a></li>
       </ul>
     </div>
   </div>
 </nav>